In [1]:
%matplotlib inline
import pandas as pd

In [2]:
number = pd.read_excel('number.xlsx')
number.head()

      number  start_bid  close_price
0  912666666      20000          0.0
1  921222222      20000      20000.0
2  927444444      20000      20000.0
3  927666666      20000          0.0
4  926666666     120000          0.0

In [3]:
sold = number[number.close_price >= number.start_bid]
sold

        number  start_bid  close_price
1    921222222      20000      20000.0
2    927444444      20000      20000.0
5    956666666     120000     120000.0
10   948888888     120000     120000.0
16   928999999      20000      40200.0
17   910888888      20000      26000.0
19   906555555      20000      25600.0
20   907888888      20000      21200.0
25   905999999      20000      32200.0
27   917777777     120000     140000.0
28   922888888      20000      31200.0
32   912999999      20000      30422.0
41   808999999      20000      35800.0
45   888222222      20000      36800.0
47   929666666      20000      20000.0
51   960000000     120000     120000.0
52   949999999     120000     161200.0
59   906888888      20000      20000.0
60   902999999      20000      34800.0
63   938888888     120000     132800.0
75   888000000      20000      34600.0
80   912888888      20000      24800.0
82   889999999     120000     264400.0
83   902888888      20000      32000.0
84   939999999     120000     176400.0
87   909000000      20000      72200.0
89   888666666      20000      36600.0
91   903999999      20000      23600.0
92   928888888     120000     124000.0
96   889555555      20000      36000.0
..         ...        ...          ...
165  915555555     120000     173200.0
170  906000000      20000      20000.0
171  909555555      20000      27600.0
172  904111111      20000      20000.0
174  910111111      20000      20000.0
176  889000000      20000      21800.0
177  900111111      20000      20000.0
183  808555555      20000      22222.0
185  910999999      20000      54400.0
190  909999999     120000     241200.0
198  919000000      20000      20000.0
201  900555555      20000      22000.0
203  922999999      20000      32200.0
208  918999999      20000      29400.0
209  923999999      20000      20000.0
213  914999999      20000      20000.0
219  888777777      20000      37556.0
224  900888888      20000      34200.0
225  928666666      20000      20000.0
226  919999999     120000     320800.0
229  901555555      20000      27800.0
230  910666666      20000      20000.0
232  808000000      20000      22000.0
233  915666666      20000      22800.0
234  908999999      20000      47800.0
239  922555555      20000      20000.0
240  907999999      20000      32400.0
242  900999999      20000      68200.0
251  901999999      20000      40800.0
253  909111111      20000      20000.0

[83 rows x 3 columns]

In [4]:
sold['common'] = sold.number % 10
sold.head()

C:\Users\nakhonpathompc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

       number  start_bid  close_price  common
1   921222222      20000      20000.0       2
2   927444444      20000      20000.0       4
5   956666666     120000     120000.0       6
10  948888888     120000     120000.0       8
16  928999999      20000      40200.0       9

In [5]:
commonFreq = sold.groupby(['common', 'start_bid']).size().unstack('start_bid').fillna(0)
commonFreq

start_bid  20000   120000
common
0             8.0     1.0
1             4.0     1.0
2             3.0     0.0
3             1.0     0.0
4             2.0     0.0
5            10.0     2.0
6             6.0     1.0
7             2.0     1.0
8            11.0     3.0
9            20.0     7.0

In [6]:
dummy = pd.get_dummies(sold['common'])
dummy

     0  1  2  3  4  5  6  7  8  9
1    0  0  1  0  0  0  0  0  0  0
2    0  0  0  0  1  0  0  0  0  0
5    0  0  0  0  0  0  1  0  0  0
10   0  0  0  0  0  0  0  0  1  0
16   0  0  0  0  0  0  0  0  0  1
17   0  0  0  0  0  0  0  0  1  0
19   0  0  0  0  0  1  0  0  0  0
20   0  0  0  0  0  0  0  0  1  0
25   0  0  0  0  0  0  0  0  0  1
27   0  0  0  0  0  0  0  1  0  0
28   0  0  0  0  0  0  0  0  1  0
32   0  0  0  0  0  0  0  0  0  1
41   0  0  0  0  0  0  0  0  0  1
45   0  0  1  0  0  0  0  0  0  0
47   0  0  0  0  0  0  1  0  0  0
51   1  0  0  0  0  0  0  0  0  0
52   0  0  0  0  0  0  0  0  0  1
59   0  0  0  0  0  0  0  0  1  0
60   0  0  0  0  0  0  0  0  0  1
63   0  0  0  0  0  0  0  0  1  0
75   1  0  0  0  0  0  0  0  0  0
80   0  0  0  0  0  0  0  0  1  0
82   0  0  0  0  0  0  0  0  0  1
83   0  0  0  0  0  0  0  0  1  0
84   0  0  0  0  0  0  0  0  0  1
87   1  0  0  0  0  0  0  0  0  0
89   0  0  0  0  0  0  1  0  0  0
91   0  0  0  0  0  0  0  0  0  1
92   0  0  0  0  0  0  0  0  1  0
96   0  0  0  0  0  1  0  0  0  0
..  .. .. .. .. .. .. .. .. .. ..
165  0  0  0  0  0  1  0  0  0  0
170  1  0  0  0  0  0  0  0  0  0
171  0  0  0  0  0  1  0  0  0  0
172  0  1  0  0  0  0  0  0  0  0
174  0  1  0  0  0  0  0  0  0  0
176  1  0  0  0  0  0  0  0  0  0
177  0  1  0  0  0  0  0  0  0  0
183  0  0  0  0  0  1  0  0  0  0
185  0  0  0  0  0  0  0  0  0  1
190  0  0  0  0  0  0  0  0  0  1
198  1  0  0  0  0  0  0  0  0  0
201  0  0  0  0  0  1  0  0  0  0
203  0  0  0  0  0  0  0  0  0  1
208  0  0  0  0  0  0  0  0  0  1
209  0  0  0  0  0  0  0  0  0  1
213  0  0  0  0  0  0  0  0  0  1
219  0  0  0  0  0  0  0  1  0  0
224  0  0  0  0  0  0  0  0  1  0
225  0  0  0  0  0  0  1  0  0  0
226  0  0  0  0  0  0  0  0  0  1
229  0  0  0  0  0  1  0  0  0  0
230  0  0  0  0  0  0  1  0  0  0
232  1  0  0  0  0  0  0  0  0  0
233  0  0  0  0  0  0  1  0  0  0
234  0  0  0  0  0  0  0  0  0  1
239  0  0  0  0  0  1  0  0  0  0
240  0  0  0  0  0  0  0  0  0  1
242  0  0  0  0  0  0  0  0  0  1
251  0  0  0  0  0  0  0  0  0  1
253  0  1  0  0  0  0  0  0  0  0

[83 rows x 10 columns]

In [7]:
sold2 = pd.concat([sold, dummy], axis = 1)

In [8]:
sold2

        number  start_bid  close_price  common  0  1  2  3  4  5  6  7  8  9
1    921222222      20000      20000.0       2  0  0  1  0  0  0  0  0  0  0
2    927444444      20000      20000.0       4  0  0  0  0  1  0  0  0  0  0
5    956666666     120000     120000.0       6  0  0  0  0  0  0  1  0  0  0
10   948888888     120000     120000.0       8  0  0  0  0  0  0  0  0  1  0
16   928999999      20000      40200.0       9  0  0  0  0  0  0  0  0  0  1
17   910888888      20000      26000.0       8  0  0  0  0  0  0  0  0  1  0
19   906555555      20000      25600.0       5  0  0  0  0  0  1  0  0  0  0
20   907888888      20000      21200.0       8  0  0  0  0  0  0  0  0  1  0
25   905999999      20000      32200.0       9  0  0  0  0  0  0  0  0  0  1
27   917777777     120000     140000.0       7  0  0  0  0  0  0  0  1  0  0
28   922888888      20000      31200.0       8  0  0  0  0  0  0  0  0  1  0
32   912999999      20000      30422.0       9  0  0  0  0  0  0  0  0  0  1
41   808999999      20000      35800.0       9  0  0  0  0  0  0  0  0  0  1
45   888222222      20000      36800.0       2  0  0  1  0  0  0  0  0  0  0
47   929666666      20000      20000.0       6  0  0  0  0  0  0  1  0  0  0
51   960000000     120000     120000.0       0  1  0  0  0  0  0  0  0  0  0
52   949999999     120000     161200.0       9  0  0  0  0  0  0  0  0  0  1
59   906888888      20000      20000.0       8  0  0  0  0  0  0  0  0  1  0
60   902999999      20000      34800.0       9  0  0  0  0  0  0  0  0  0  1
63   938888888     120000     132800.0       8  0  0  0  0  0  0  0  0  1  0
75   888000000      20000      34600.0       0  1  0  0  0  0  0  0  0  0  0
80   912888888      20000      24800.0       8  0  0  0  0  0  0  0  0  1  0
82   889999999     120000     264400.0       9  0  0  0  0  0  0  0  0  0  1
83   902888888      20000      32000.0       8  0  0  0  0  0  0  0  0  1  0
84   939999999     120000     176400.0       9  0  0  0  0  0  0  0  0  0  1
87   909000000      20000      72200.0       0  1  0  0  0  0  0  0  0  0  0
89   888666666      20000      36600.0       6  0  0  0  0  0  0  1  0  0  0
91   903999999      20000      23600.0       9  0  0  0  0  0  0  0  0  0  1
92   928888888     120000     124000.0       8  0  0  0  0  0  0  0  0  1  0
96   889555555      20000      36000.0       5  0  0  0  0  0  1  0  0  0  0
..         ...        ...          ...     ... .. .. .. .. .. .. .. .. .. ..
165  915555555     120000     173200.0       5  0  0  0  0  0  1  0  0  0  0
170  906000000      20000      20000.0       0  1  0  0  0  0  0  0  0  0  0
171  909555555      20000      27600.0       5  0  0  0  0  0  1  0  0  0  0
172  904111111      20000      20000.0       1  0  1  0  0  0  0  0  0  0  0
174  910111111      20000      20000.0       1  0  1  0  0  0  0  0  0  0  0
176  889000000      20000      21800.0       0  1  0  0  0  0  0  0  0  0  0
177  900111111      20000      20000.0       1  0  1  0  0  0  0  0  0  0  0
183  808555555      20000      22222.0       5  0  0  0  0  0  1  0  0  0  0
185  910999999      20000      54400.0       9  0  0  0  0  0  0  0  0  0  1
190  909999999     120000     241200.0       9  0  0  0  0  0  0  0  0  0  1
198  919000000      20000      20000.0       0  1  0  0  0  0  0  0  0  0  0
201  900555555      20000      22000.0       5  0  0  0  0  0  1  0  0  0  0
203  922999999      20000      32200.0       9  0  0  0  0  0  0  0  0  0  1
208  918999999      20000      29400.0       9  0  0  0  0  0  0  0  0  0  1
209  923999999      20000      20000.0       9  0  0  0  0  0  0  0  0  0  1
213  914999999      20000      20000.0       9  0  0  0  0  0  0  0  0  0  1
219  888777777      20000      37556.0       7  0  0  0  0  0  0  0  1  0  0
224  900888888      20000      34200.0       8  0  0  0  0  0  0  0  0  1  0
225  928666666      20000      20000.0       6  0  0  0  0  0  0  1  0  0  0
226  919999999     120000     320800.0       9  0  0  0  0  0  0  0  0  0  1
229  901555555      20000      27800.0       5  0  0  0  0  0  1  0  0  0  0
230  910666666      20000      20000.0       6  0  0  0  0  0  0  1  0  0  0
232  808000000      20000      22000.0       0  1  0  0  0  0  0  0  0  0  0
233  915666666      20000      22800.0       6  0  0  0  0  0  0  1  0  0  0
234  908999999      20000      47800.0       9  0  0  0  0  0  0  0  0  0  1
239  922555555      20000      20000.0       5  0  0  0  0  0  1  0  0  0  0
240  907999999      20000      32400.0       9  0  0  0  0  0  0  0  0  0  1
242  900999999      20000      68200.0       9  0  0  0  0  0  0  0  0  0  1
251  901999999      20000      40800.0       9  0  0  0  0  0  0  0  0  0  1
253  909111111      20000      20000.0       1  0  1  0  0  0  0  0  0  0  0

[83 rows x 14 columns]